nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;

  .logo {
    position: relative;
    max-width: 8rem;

    @media #{$mq-650-down} {
      max-width: 6rem;
    }
  }

  ul {
    list-style: none;
    display: flex;
    font-size: 1.6rem;

    li {
      a {
        text-decoration: none;
        display: inline-block;
        color: $dark-charcoal-col;
        font-weight: 400;
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }
    }

    @media #{$mq-650-down} {
      display: none;
    }
  }

  @media #{$mq-992-down} {
    padding: 2rem 4rem;
  }
  @media #{$mq-768-down} {
    padding: 2rem;
  }
}
