.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark-green-col;
  clip-path: circle(600px at right 800px);
  z-index: -1;

  @media #{$mq-450-down} {
    clip-path: circle(600px at right 1000px);
  }
}
