/*COLORS*/

$white-col: #fff;
$dark-charcoal-col: #333;
$dark-green-col: #017143;

//Media Query
$mq-1200-down: "screen and (max-width: 1200px)";
$mq-992-down: "screen and (max-width: 992px)";

$mq-768-down: "screen and (max-width: 768px)";

$mq-650-down: "screen and (max-width: 650px)";
$mq-450-down: "screen and (max-width: 450px)";
